<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2.5.xsd">
    <display-name>LibManWeb</display-name>
    <context-param>
        <param-name>primefaces.FONT_AWESOM</param-name>
        <param-value>true</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>restricted/StartPage.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>BasicConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>restricted</web-resource-name>
            <url-pattern>/restricted/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>BasicConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>faces-restricted</web-resource-name>
            <url-pattern>/faces/restricted/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>libroman</realm-name>
        <form-login-page>/login.xhtml</form-login-page>
        <form-error-page>/loginError.xhtml</form-error-page>
    </login-config>
    <error-page>
        <error-code>403</error-code>
        <location>/notAuthorizedErrorPage.xhtml</location>
    </error-page>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>